<div class= "forum_list_title">
  <h2>Forum Lists</h2>
</div>
<div class= "lists_list">
  <% @lists.each do |list| %>
    <div class="row", style="align-items: center;">
      <div class="col-11">
          <p class= "list_item_list"><%= link_to list.title, list_path(list), class: "link_new_list" %></p>
      </div>
      <div class="col-1">
        <%= list.forums.size %>
      </div>
    </div>
  <% end %>
    <p><%= link_to "Create a new List", new_list_path, class: "list_item_list"  %></p>
</div>
