<ul class= "lists_list"><% @lists.each do |list| %>
  <li class= "list_item_list"><%= link_to list.title, list_path(list) %>
  <%= list.forums.size %>
  <% end %></li>
</ul>
<p><%= link_to "Create a new List", new_list_path %></p>
