<div class="forum_list_title">
<h2>Create a new list</h2>
</div>
<%= simple_form_for @list do |f| %>
<%= f.text_field :title, {class:"user-create-list"} %>
<%= f.submit "+", {class:"button"} %>
<% end %>
<div class="back-button">
<%= link_to "BACK", lists_path, {class: 'button-list'} %>
</div>
