<%= link_to "Create a Forum but only for admins", new_forum_path %>

<div class="index-grid">

<% @forums.each do |forum| %>
<%= cl_image_tag forum.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

</div>
