.forum-flex-top-show {
display: flex;
margin-left: 200px;
margin-right: 200px;

}


.forum-show-title {
font-size: 45px;
font-family: 'Bebas Neue', cursive;
font-weight: bold;
margin-bottom: 40px;
}

.forum-show-year, .forum-show-creator, .forum-show-category {
  font-size: 35px;
  font-family: 'Bebas Neue', cursive;
}

.forum-show-rating-description-container {
  display: flex;
  align-items: center;
}

.div-middle-forum-top {
margin-left: 40px;
}

.top-background-color {
  background-color: #080F15;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 15px;

}


.forum-page-show-top {
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 300px;
}

// .rating-circle {
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

.forum-rating {
  margin-left: 300px;
  width: 200px;
  display: inline-block;
}

.profile-picture {
  margin-top: 10px;
  margin-bottom: 10px;
  // width: 80px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.forum-show-description {
  padding: 10px;

}


.forum-user-ranking-information {
display: flex;
justify-content: space-between;
margin-left: 300px;
margin-right: 300px;
margin-top: 50px;
border-bottom: solid thin gray;
}

.forum-user-text-ranking {
font-size: 35px;
font-family: 'Bebas Neue', cursive;
}

.rating-circle {
margin-top:  50px;
}

.div-div {
display: flex;
margin-top: 30px;
margin-left: 300px;;
justify-content: flex-start;
}


.rate-create-list {
   --color: #AE64F2;
  padding: 0.3em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
  width: 500px;
}



.rate-button-forum {
  --color: #AE64F2;
  padding: 0.3em 1.0em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  width: 200px;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
}
