<h1>Welcome to Art Dialogue</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djbdn9bdv/image/upload/v1678141077/Outfit-Hub/photo-1626781309887-cdfb9f258c64_qzoopp.jpg;">
  <div class="container">
    <h1> Movie Card Text Movie Card Text Movie Card Text</h1>
    <p>Movie Card Content Movie Card Content Movie Card Content
    </p>
    <button class="banner-button">Explore New Movies</button>
    </div>
    </div>


<div class="home-div">
<% @forums.sample(4).each do |forum| %>
<div class="home-movie-card-img">
<%= link_to forum_path(forum) do %>
<%= cl_image_tag (forum.photo.key).to_s, height: 450, width: 280, crop: :fill %>
<% end %>
</div>
 <% end %>
</div>
