.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  text-align: center;
  height: 400px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;;
}

.banner p {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}
