.button-56 {
  align-items: center;
  background-color: #737373;
  // border: 1px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 10px;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-list {
  --color: #AE64F2;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  width: 200px;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
}
.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  background-color: #525252;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 20px;
  }
}
.button {
  --color: #AE64F2;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
 }

 .button-profile-edit {
  --color: #AE64F2;
  padding: 0.5em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
 }

 .unfollow-button {
  --color: #d3c5e0;
  padding: 0.5em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
 }

 .button::before, .button::after {
  //content: '';
  //display: block;
  //width: 50px;
  //height: 50px;
  //transform: translate(-50%, -50%);
  //position: absolute;
  //border-radius: 50%;
  //z-index: -1;
  //background-color: var(--color);
  //transition: 1s ease;
 }

 .button::before {
  //top: -1em;
  //left: -1em;
 }

 .button::after {
  //left: calc(100% + 1em);
  //top: calc(100% + 1em);
 }

 .button:hover::before, .button:hover::after {
  //height: 410px;
  //width: 410px;
 }

 .button:hover {
  //color: rgb(10, 25, 30);
 }

 .button:active {
  filter: brightness(.8);
 }
