

p {
  color: white;
}

.navbar-lewagon {
  background-color: #080F15;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px;
}


.navbar-logo {
  width: 300px;
  display: block;
  margin-left: 30px;
  overflow: hidden;

}

.nav-link {
color: white;
}

.nav-link:hover {
  color: purple;
  }


.nav-item {
margin-left: 20px;
font-size: 30px;
}

.navbar-titles {
display: flex;
width: 320px;
margin-top: 10px;
justify-content: space-between;
}

.navbar-titles-title {
  font-family: 'Bebas Neue', cursive;;
  font-size: 20px;
}
