body {
  background-color: #080F15;
}

p {
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: #080F15;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 300px;
  border-bottom: #471a1a;
  display: block;
  margin: auto;
  overflow: hidden;
}

.nav-item {
margin-right: 20px;
font-size: 30px;
}
