.navbar-lewagon {
  justify-content: space-between;
  background: rgb(33, 33, 33);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
font-size: 50px;
margin-left: 680px;
font-family: 'Rammetto One', cursive;
color: white;
}

.nav-item {
margin-right: 20px;
font-size: 30px;
}
