.post-comments-section {
  margin-left: 580px;
  margin-right: 300px;
  padding-bottom: 500px;
}

.post-content-box {
  text-decoration: none;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #4d4d4d;
  border-radius: 2px;
  display: flex;
}

.post-comment-form {
  padding-top: 25px;
  padding-bottom: 25px;
}

.post-comment-form:hover {
  background-color: none;
}


.display-comment {
  margin-top: 10px;
  border-radius: 2px;
  min-height: 50px;
  overflow-wrap: break-word;
  display: flex;
}

.post-content-text {
  margin-top: 36px;
  overflow-wrap: break-word;
  p {
    color: #ffffff;
  }
}

.post-user {

  p{
    color: #ffffff;
    margin-bottom: 0;
  }
}

.display-comment-user {
  p {
    margin-bottom: 0;
  }
}

.display-comment-content {
  p {
    margin-bottom: 0;
  }
}

.post-simple-form {
  background-color: none;



  textarea {
    overflow: visible;
    outline: none;
    box-shadow: none;
    border: 2px solid #AE64F2;
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: transparent;
    background-color: none;
    font-size: 16px;
    color: #636363;
    resize: none;
    -webkit-appearance:none;
  }
}

.post-with-comments{
  text-decoration: none;
  padding: 25px 25px 25px 25px;
  margin-top: 15px;
  border: 1px solid #AE64F2;
  border-radius: 10px;
  background-color: none;

  a:link {
    text-decoration: none;
  }

  .post-content-box {
    margin-top: 0px;

  }

  textarea {
    overflow: visible;
    outline: none;
    box-shadow: none;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: transparent;
    background-color: none;
    font-size: 16px;
    resize: none;
  }

  textarea:active {
    appearance: none;
  }

  .display-comment{
    padding-left: 20px;
  }
}

.post-with-comments:hover{
  background-color: none;
}
#post_content:hover:read-write {
  background-color: #e8e8e8;
}

#comment_comment_content:hover:read-write {
  background-color: #e8e8e8;
}

.post-content-box-left{
  padding-left: 10px;
  padding-right: 10px;
}

.comment-content-box-left{
  border-left: 10px solid transparent;
}

.content-box-main {
  margin-top: 10px;
  margin-left: 20px;
  width: 500px;
  overflow-wrap: break-word;
}

#post {
  input {
    float: right;
  }
}

.post-with-comments-inside-post {
  text-decoration: none;
  padding: 25px 25px 25px 25px;
  border-bottom: 1px solid #AE64F2;
  background-color: none;

  a:link {
    text-decoration: none;
  }

  .post-content-box {
    margin-top: 0px;

  }

  textarea {
    overflow: visible;
    outline: none;
    box-shadow: none;
    border: 2px solid #AE64F2;
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: transparent;
    background-color: none;
    font-size: 16px;
    color: #636363;
    resize: none;
    -webkit-appearance:none;
  }

  textarea:active {
    appearance: none;
  }

  .display-comment{
    padding-left: 20px;
  }

  #comment_comment_content:hover:read-write {
    background-color: #e8e8e8;
  }
}

.all-comments {
  margin-bottom: 30px;
}
