.user-card {
  margin-right: 150px;
}

.user-card-details-text {
  margin-top: 10px;
}

.unfollow-button {
text-decoration: none;
color: black;
background-color: white;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
}
