.user-container-flex-div {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 200px;
  padding-top: 30px;
  background: linear-gradient(135deg, #080F15 0%, #281d30 100%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #080F15;
}

.user-card-container {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-left: 30px;
margin-top: 50px;
}
.user-card {
  display: flex;
  justify-content: center;
}

.followers, .following, .number-of-lists {
display: flex;
justify-content: space-between;
margin-top: 20px;
}



.user-dashboard {
  display: flex;
  justify-content: center;
  color: white;
}

.follow-button {
margin-top: 20px;
display: flex;
justify-content: center;
margin-top: 20px;
}

.lists-show {
  padding-left: 10px;
}

.create-list {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  margin-left: 220px;
}

.user-button-lists {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
width: 700px;
row-gap: 20px;
column-gap: 20px;
}


.edit-profile-button {
display: flex;
justify-content: center;
margin-top: 30px;
}

.flex-user-buttons-and-create-list {
display: flex;
flex-direction: column;
margin-left: 100px;
margin-top: 50px;
}

.user-create-list {
  --color: #AE64F2;
  padding: 0.5em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  text-decoration: 0;
  width: 500px;

}

.lists-count {
color: white;
}

.add-to-my-list {
display: flex;
justify-content: center;
margin-top: 50px;
}

.button-list-div {
margin-bottom: 70px;
}
