.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 320px;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid #AE64F2;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #080F15;}

.input:focus {
  outline: none;
  border: 0.5px solid #AE64F2;
  box-shadow: -5px -5px 0px #AE64F2;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
